<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>40.00</title>

  <!-- build:css ../shared/styles/main.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="../shared/styles/main.css">
  <!-- endbuild -->
  <!-- build:css assets/styles/slide.css -->
  <link rel="stylesheet" href="assets/styles/slide.css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="../shared/styles/vendors/owl.carousel.min.css">
  <link rel="stylesheet" href="../shared/styles/vendors/owl.theme.default.min.css">

</head>

<body>
  <main id="access_next_tool_40_00" class="slide">
    <!-- Page Body -->
    {{> side-navigation }}
    {{> top-navigation }}
    <section class="global-content">
      <div class="wrapper">
        <!-- Components here -->
        <div class="sub_controls">
          <div class="print"><a class="pop-up-trigger" href="#" data-popup="viewPdfPopup"></a></div>
          <div class="mail"></div>
          <div class="back_button"><a href="veeva:gotoSlide(access_next_tool_30_00.zip)" class=""></a></div>
          <div class="sideLine"></div>
        </div>
        <div class="output_content_slider">
          <div id="output-carousel" class="owl-carousel owl-theme output-carousel">
            <div class="item">
              <div class="main_Content">
                <h4>In Dekalb County, AL</h4>
                <p><b>CUVITRU is </b><b><span class="access">covered with restrictions*</span></b> for <span
                    class="channel">Medicare</span> patients under the <span class="benefitType">Pharmacy</span>
                  benefit.</p>
              </div>
            </div>
            <div class="item">
              <div class="main_Content CuvitruSlideTwo" style="margin-top: 18px;">
                <div class="tableContainer">
                  <div class="tableFixHead custom-scroll-2">
                    <table class="table table-bordered" id="table-1">
                      <thead>
                        <tr>
                          <th scope="col"
                            style="width: 315px; border-bottom-left-radius:12px;text-align:left;padding-right:0px;"
                            class="t-heading-style"><span class="channel">Medicare</span> Health Plan</th>
                          <th scope="col" style="width: 212px;" class="t-heading-style border-table">Access</th>
                          <th scope="col" style="width: 213px; border-bottom-right-radius:12px" class="t-heading-style">
                            Benefit Type</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="Cuvitru_ISIfooterbackground">
                    <div class="Cuvitru_Footeriscroll" id="controlCenterEnv">
                      <div class="Cuvitru_main">
                        <table>
                          <tr>
                            <td class="p-l-28 dplan0" style="width: 315px;">Health Plan Name</td>
                            <td align="center" class="border-table access" style="width: 212px;">Covered with
                              restrictions*</td>
                            <td align="center" class="benefitType" style="width: 213px;">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan1">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan2">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan3">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan4">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan5">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 dplan6">Health Plan Name</td>
                            <td align="center" class="border-table access">Covered with restrictions*</td>
                            <td align="center" class="benefitType">Pharmacy</td>
                          </tr>
                          <tr>
                            <td class="p-l-28 bb-zero dplan7">Health Plan Name</td>
                            <td align="center" class="border-table access bb-zero">Covered with restrictions*</td>
                            <td align="center" class="benefitType bb-zero">Pharmacy</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="footerContent fc2">*Restrictions may include prior authorization and/or step therapy requirements.
          Check with the individual health plan's medical policy.</p>
        <p class="footerContent fc3">Coverage data are provided by Managed Markets Insights & Technology, LLC, and are
          current as of [Month Year].</p>
      </div>
      <!-- Pop Ups here-->
      {{> footer-isi }}
      {{> view-pdf-popup }}
      {{> spinner }}
    </section>
  </main>
  <div class="customer-popup" style="display: none;">
    {{> select-customer-popup }}
  </div>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/iscroll.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/owl.carousel.min.js"></script>
<script src="../shared/scripts/footerISI.js"></script>
<script src="../shared/scripts/cdropdown.js"></script>
<script src="../shared/scripts/libs/accountInfo.js"></script>
<script src="../shared/scripts/apis.js"></script>
<script src="../shared/scripts/jquery.touchSwipe.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<script src="../shared/scripts/common.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->

<!-- access_next_tool_40_00 related js -->
<script src="assets/scripts/access_next_tool_40_00.js"></script>
<!-- end -->
</html>