<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>00.00</title>

  <!-- build:css ../shared/styles/main.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="../shared/styles/main.css">
  <!-- endbuild -->
  <!-- build:css assets/styles/slide.css -->
  <link rel="stylesheet" href="assets/styles/slide.css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="../shared/styles/vendors/owl.carousel.min.css">
  <link rel="stylesheet" href="../shared/styles/vendors/owl.theme.default.min.css">

</head>

<body>
  <main id="access_next_tool_20_00" class="slide">
    <!-- Page Body -->
    {{> side-navigation }}
    {{> top-navigation }}
    <section class="global-content">
      <div class="wrapper">
        <h2><span>Select</span> your brand(s)</h2>
        <div class="brandtt tt-styles-b"></div>
        <div class="brand-tt-content tt-content-style-b">
          <div class="closeToolTip"><img src="../shared/images/close_tooltip.png"></div>
          <p class="line1">Select an individual product to retrieve coverage data specific to that brand.</p>
          <p class="line2">For comprehensive portfolio data, you may select both CUVITRU and HYQVIA.</p>
          <p class="line3">Note that GAMMAGARD LIQUID cannot be included in a portfolio message at this time.</p>
          <i class="tooltipArrow"></i>
        </div>
        <!-- Components here -->
        <div class="brand-section">
          <label for="cuvitruBrandBox">
            <input type="checkbox" name="brandbox" id="cuvitruBrandBox" />
            <div class="cuvitru-brand logo-box">
              <div class="cuvitru-logo">
                <img src="../shared/images/cuvitru_logo.png" alt="cuvitru logo">
              </div>
            </div>
          </label>
          <label for="hyqviaBrandBox">
            <input type="checkbox" name="brandbox" id="hyqviaBrandBox" />
            <div class="hyqvia-brand logo-box">
              <div class="hyqvia-logo">
                <img src="../shared/images/hyqvia_logo.png" alt="hyqvia logo">
              </div>
            </div>
          </label>
          <div class="v-line"></div>
          <label for="gammagardBrandBox">
            <input type="checkbox" name="brandbox" id="gammagardBrandBox" />
            <div class="gammagard-brand logo-box">
              <div class="gammagard-logo">
                <img src="../shared/images/gammagard_logo.png" alt="gammagard logo white">
              </div>
            </div>
          </label>

          <div class="skipLink">
            <a href="veeva:gotoSlide(access_next_tool_30_00.zip)">SKIP</a>
          </div>
          <div class="continueLink">
            <a href="veeva:gotoSlide(access_next_tool_30_00.zip)">CONTINUE</a>
          </div>
        </div>
      </div>
      <!-- Pop Ups here-->
      {{> how-to-guide-content-popup }}
    </section>
    <div class="customer-popup" style="display: none;">
      {{> select-customer-popup }}
    </div>
  </main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/owl.carousel.min.js"></script>
<script src="../shared/scripts/libs/accountInfo.js"></script>
<script src="../shared/scripts/jquery.touchSwipe.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->
<!-- access_next_tool_20_00 related js -->
<script src="assets/scripts/access_next_tool_20_00.js"></script>
<!-- end -->

</html>