<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>10.00</title>
  <!-- build:css ../shared/styles/main.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="../shared/styles/main.css">
  <!-- endbuild -->
  <!-- build:css assets/styles/slide.css -->
  <link rel="stylesheet" href="assets/styles/slide.css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="../shared/styles/vendors/owl.carousel.min.css">
  <link rel="stylesheet" href="../shared/styles/vendors/owl.theme.default.min.css">
</head>

<body>
  <main id="access_next_tool_10_00" class="slide">
    <!-- Page Body -->
    {{> side-navigation }}
    {{> top-navigation }}
    <section class="global-content">
      <div class="wrapper">
        <h2>Your <span>saved templates</span></h2>
        <!-- Components here -->
        <div id="wrapper11">
          <div id="scroller">
            <div class="savedTemplateBlock"> </div>
            <a href="veeva:gotoSlide(access_next_tool_30_00.zip)" class="nextTool30"></a>
          </div>
        </div>
      </div>
      {{> how-to-guide-content-popup }}
    </section>
    <div class="customer-popup" style="display: none;">
      {{> select-customer-popup }}
    </div>
  </main>
</body>
<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/iscroll.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/libs/accountInfo.js"></script>
<script src="../shared/scripts/cdropdown.js"></script>
<script src="../shared/scripts/owl.carousel.min.js"></script>
<script src="../shared/scripts/jquery.touchSwipe.min.js"></script>
<script src="../shared/scripts/main.js"></script>

<!-- endbuild -->
<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->

<!-- access_next_tool_10_00 related js -->
<script src="assets/scripts/access_next_tool_10_00.js"></script>
<!-- end -->
</html>