@charset "UTF-8";
/* SCSS Document */

@import "../shared/styles/main";

/********** Slide Specific Styles *********/

#access_next_tool_40_00 {
	#settingsIcon,
	#savedTemplatesIcon {
		display: none;
	}

	.slide {
		position: relative;
		top: 0;
		left: 0;
		width: 1024px;
		height: 768px;
		overflow: hidden;
		background: url("../images/background.jpg") right 0 no-repeat;
		background-size: contain;
	}

	#isiMain {
		position: absolute;
		top: 543px;
		height: 226px;
		width: 1004px;

		#isi_wrapper {
			position: absolute;
			top: 0;
			height: 226px;
			width: 991px;
			overflow: hidden;

			.isi {
				width: 1004px;

				.isi_con {
					background: url("../../../shared/images/cuvitruISI.png") no-repeat;
					background-size: contain;
					width: 886px;
					height: 1215px;
					margin-left: 52px;
					margin-top: 0px;
				}
			}

			.iScrollVerticalScrollbar {
				background-color: #e0e0e0 !important;
				top: 69px !important;
				right: 5px !important;
				height: 44% !important;
				width: 2px !important;
				position: absolute;
				overflow: visible !important;
			}

			.iScrollIndicator {
				background: #fd901e;
				height: 28px !important;
			}
		}
	}

	#homeIcon {
		a {
			span {
				background: url("../../../shared/images/homeIconwhite.svg");
				background-size: contain;
				width: 29px;
				height: 24px;
				position: absolute;
				background-repeat: no-repeat;
			}
		}
	}

	#customerAccountName {
		color: #fff;
	}

	#customerAccount {
		a {
			.userIcon {
				background: url("../../../shared/images/userIconwhite.svg");
				background-size: contain;
				width: 24px;
				height: 25px;
				position: absolute;
				background-repeat: no-repeat;
			}
		}
	}

	.sub_controls {
		background: url("../../../shared/images/sub_controls.svg");
		background-size: contain;
		width: 203px;
		height: 57px;
		position: absolute;
		background-repeat: no-repeat;
		left: 117px;
		top: 42px;

		.print {
			position: absolute;
			width: 48px;
			height: 53px;
			a {
				width: 48px;
				height: 53px;
				top: 0;
				left: 0;
				position: absolute;
			}
		}

		.mail {
			position: absolute;
			width: 48px;
			height: 53px;
			left: 62px;
		}

		.back_button {
			position: absolute;
			width: 48px;
			height: 53px;
			left: 119px;
			z-index: 2;
			a {
				position: absolute;
				width: 48px;
				height: 53px;
				left: 0;
			}
		}
	}

	.output_content_slider {
		position: absolute;
		top: 109px;
		left: 71px;
		width: 890px;
		z-index: 0;

		.output-carousel {
			display: block;

			.owl-prev,
			.owl-next {
				background: transparent;
			}

			.owl-nav {
				text-align: left;
				position: absolute;
				top: -72px;
				left: 280px;
			}

			.owl-prev {
				margin-left: 4px;
				padding-left: 0;
			}

			.owl-next {
				margin-left: 65px;
			}

			.owl-prev > div {
				background: url("../../../shared/images/left_chev.svg") no-repeat;
				background-size: contain;
				width: 14px;
				height: 23px;
			}

			.owl-next > div {
				background: url("../../../shared/images/right_chev.svg") no-repeat;
				background-size: contain;
				width: 14px;
				height: 23px;
			}

			.owl-dots {
				text-align: left;
				position: absolute;
				left: 311px;
				width: 61px;
				top: -52px;
			}

			.owl-dot span {
				background: transparent;
				border: 1px solid white;
				width: 12px;
				height: 12px;
				margin-right: 9px;
			}

			.owl-dot.active span {
				background: #ff921f;
				box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.15);
				border: 0;
			}

			.main_Content {
				margin-top: 30px;

				b {
					font-family: $font-gotham-book-bold;
				}

				h4 {
					font-family: $font-gotham-book-bold;
					font-size: 16.8px;
					color: #ff921f;
					letter-spacing: 0;
					line-height: 23px;
					text-transform: uppercase;
					margin-bottom: 6px;
					margin-left: 53px;
				}

				p {
					font-family: $font-gotham-book;
					color: #ffffff;
					font-size: 40px;
					letter-spacing: 0;
					line-height: 59px;
					margin-left: 51px;
				}
			}

			.tableContainer {
				width: 742px;
				top: 3px;
				margin-left: 51px;
			}

			.tableFixHead {
				overflow-y: auto;
				height: 227px;
				background: #ffffff;
				border: 1px solid #979797;
				border-radius: 12.74px;
			}

			.tableFixHead thead th {
				position: sticky;
				top: 0;
				z-index: 1;
			}

			/* Just common table stuff. Really. */
			table {
				border-collapse: collapse;
				width: 100%;
			}

			td {
				padding: 21px 0px;
				font-family: $font-gotham-book;
				font-size: 12px;
				color: #4c4948;
			}

			th {
				padding: 12px 16px;
			}

			th {
				background: #ff921f;
			}

			.t-heading-style {
				font-family: $font-gotham-book;
				font-size: 20.24px;
				color: #ffffff;
			}

			.p-l-28 {
				padding-left: 28px;
			}

			.bb-zero {
				border-bottom: 0;
			}

			.border-table {
				border-right: 1px solid #979797;
				border-left: 1px solid #979797;
			}
		}
	}

	.footerContent {
		color: #ffffff;
		font-family: $font-gotham-book;
		font-size: 9.81px;
		letter-spacing: 0;
		line-height: 13px;
		margin-left: 2px;
		position: absolute;
		top: 369px;
		left: 123px;
	}

	.fc2 {
		margin-top: 6px;
		text-indent: -5px;
	}

	.fc3 {
		margin-top: 6px;
		top: 387px;
	}

	#customerAccountName,
	#customerAccount {
		pointer-events: none;
	}

	.global-side-nav {
		display: none;
	}

	.owl-carousel:not(.owl-loaded) {
		opacity: 0;
	}

	.owl-carousel:not(.owl-loaded) {
		opacity: 0;
		visibility: hidden;
		height: 0;
	}
	.Cuvitru_ISIfooterbackground {
		left: 52px;
		top: 67px;
		width: 762px;
		height: 168px;
		position: absolute;
		overflow: hidden;
	}
	.Cuvitru_ISIfooterbackground .Cuvitru_Footeriscroll {
		position: absolute;
		width: 762px;
		z-index: 1;
		box-sizing: border-box;
	}
	.Cuvitru_main {
		width: 740px;
	}
	.Cuvitru_ISIfooterbackground .Cuvitru_Footeriscroll {
		top: 0;
		bottom: 0px;
		overflow: hidden;
	}
	.CuvitruSlideTwo {
		.iScrollVerticalScrollbar {
			background-color: #c7c7c7 !important;
			top: 12px !important;
			right: 3px !important;
			height: 120px !important;
			width: 1px !important;
			position: absolute;
			overflow: visible !important;
			border-radius: 10px !important;
		}
		.iScrollIndicator {
			border: none;
			width: 6px !important;
			right: -2px !important;
			position: absolute;
			cursor: pointer;
			display: block !important;
			border-radius: 10px !important;
			background: #fd901e !important;
			border: 0 !important;
		}
	}
	tr:nth-child(even) {
		background-color: #e7e7e7;
	}
	.HyqviaISI,
	.gammagardISI,
	.takedaISI {
		display: none;
	}
	.sideLine {
		position: absolute;
		top: 0px;
		left: 202px;
		width: 2px;
		height: 55px;
		background: #fd901e;
		border-radius: 10px;
		display: none;
	}
}
