@import "core/variables";
@import "core/fonts";
@import "core/typo";
@import "core/ctas";

@import "helpers/mixins";
@import "helpers/utils";

// @import "modules/isi";
// @import "modules/global-isi";
// @import "modules/tooltip-popup";
@import "modules/global-popups";
@import "modules/popup";
// @import "modules/reference-popup";
@import "modules/global-nav";
@import "modules/side-arrows";
// @import "modules/tabs";
@import "modules/logo";
@import "modules/top-nav";
@import "modules/slide-carousel";
@import "modules/side-nav";
@import "modules/footer-isi";
@import "modules/view-pdf";
@import "modules/spinner";
@import "modules/customer-popups";

/* inject:scss */
/* endinject */

/********** CLEAR VALUES *********/

* { padding: 0; margin: 0; box-sizing:border-box; }
a img { border: none; }
a { text-decoration: none; outline: 0; }
// sup {
// 	position:relative;
// 	top:-0.5em;
// 	font-size: 0.65em;
// 	line-height: 0.5em;
// 	vertical-align:baseline;
// }
img { display:block; }


/********** CLASS STYLES *********/

/*layout helper classes*/
.fr { float: right; }
.fl { float: left; }
.cf { clear:both !important; }
.u { text-decoration: underline; }
.c { text-align: center; }
.uc { text-transform: uppercase; }
.lc { text-transform: lowercase; }
.no-bottom { margin-bottom:0 !important; }
.bottom10 { margin-bottom:10px !important; }


/********** STRUCTURE *********/
html {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0); //hide ipad highlight tint
	//font rendering
	font-smoothing: antialiased;
	height: 100%;
	width: $sw;
  overflow: auto;
}

/********** GLOBAL CLASS STYLES *********/

.slide {
	position:relative; top:0; left:0;
	width:$sw; height:$sh;
	overflow:hidden;
	background: url('../images/background.jpg') right 0 no-repeat;
	background-size: contain;

	.logo a {
      position: absolute;
      top: 5px;
      right: 8px;
      width: 20px;
      height: 47px;
      z-index: 2;

		img {
			width: 100%;
		}
	}

	.wrapper {
		height: 701px;
		position: absolute;
		top: 66px;
		right: 0;
		width: 1024px;
	}

	.iscroll-wrapper {
		position: relative;
		overflow:hidden;

		.iscroll-content {
			display:inline-block;
			list-style:none;
		}
		//custom scrollbar styles
		.iScrollVerticalScrollbar {
			position:absolute;
			top:2px; right:0px; bottom:2px;
			width:6px;
			background-color:#dbdbdb;
			border-radius:3px;
		}
		//custom scrollbar thumb styles
		.iScrollIndicator {
			position:absolute;
			top:0; right:0;
			width:6px;
			border-radius:3px;
			background-color:#898989;
		}
	}

	// .scroller {
	// 	overflow-y: scroll;

	// 	@include scrollBar();
	// }
}
.home-link{
	position: relative;
	top: 0;
	left: 139px;
	width: 40px;
	height: 40px;
	.home-button{
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
	}
}

