
/********** GLOBAL VARS *********/

// Global Size

$sw: 1024px; 		//screen width
$sh: 768px; 			//screen height
$shf: 721px;

// Fonts
$font-avenirnext-bold: "AvenirNext-Bold";
$font-avenirnext-black: "Avenir-Black";
$font-avenirnext-heavy: "AvenirNextHeavy";
$font-avenir-heavy: "AvenirHeavy";
$font-avenirnext-medium: "AvenirNext-Medium";
$font-avenirnext-regular: "AvenirNext-Regular";
$font-avenirnext-medium-italic: "AvenirNext-MediumItalic";
$font-avenirnext-demibold: "AvenirNext-DemiBold";
$font-opensans-regular: "OpenSans-Regular";
$font-opensans-semibold: "OpenSans-SemiBold";
$font-opensans-italic: "OpenSans-Italic";
$font-opensans-bold: "OpenSans-Bold";
$font-opensans-extrabold: "OpenSans-ExtraBold";
$font-gothamnarrow-bold: "GothamNarrow-Bold";
$font-gothamnarrow-book: "GothamNarrow-Book";
$font-gothamnarrow-medium: "GothamNarrow-Medium";
$font-montserrat-regular: "Montserrat-Regular";
$font-montserrat-medium: "Montserrat-Medium";
$font-montserrat-bold: "Montserrat-Bold";

$font-gotham-book: "Gotham-Book";
$font-gotham-book-light: "Gotham-Light";
$font-gotham-book-medium: "Gotham-Medium";
$font-gotham-book-bold: "Gotham-Bold";
$font-gotham-black: "Gotham-Black";
$font-gotham-book-italic: "Gotham-BookItalic";

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-teal: #0a9fb0;
$color-gray: #9b9d9e;
$color-dark-gray: #5b5b5b;
$color-light-gray: #ececec;
$color-french-gray: #c3c3c5;

$color-turquoise-primary: #3d8aa3;
$color-turquoise-secondary: #028ca6;
$color-custom-green-primary: #3d8aa3;
$color-isi-text: #58595b;
$color-ref-text: #59595c;
$color-sidenav: #3d4850;

$color-yellow: #fcdc53;
$color-gray-chart: #58575a;
$color-orange: #f47e28;
$color-blue-primary: #0f6cb6;
$color-dark-blue-primary: #223867;
$color-blue-secondary: #116bb5;
$color-blue-chart: #1371af;
$color-green-primary: #5fc5ba;
$color-green-secondary: #a3ddd7;
$color-green-tertiary: #e7f6f5;
$color-green-light: #cfedea;
$color-table-of-contents-backdrop: #00213c;
$color-inactive-gray: #acacac;
$color-popup-background: #e7f6f5;
$color-bahama-blue: #006998;
$color-downriver: #081451;
$color-footnote-abbey: #4D4F53;
$color-havelock-blue: #408EDD;
$color-alizarin-crimson: #DE2726;
$color-link-water: #D8E8F8;
$color-midnight-blue: #001E61;
$color-steal-blue: #5267D3;

// Custom template - colors
$color-custom-green-primary: #3d9b7f;
$color-custom-green-secondary: #3d9c80;
$color-custom-green-tertiary: #99c9bb;
$color-custom-footer: #3d977b;
$color-custom-gray-wrapper: #f6f6f7;
$color-custom-bar-regular: #97c7b9;
$color-custom-bar-strong: #3d9c7f;
