<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>00.00</title>

  <!-- build:css ../shared/styles/main.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="../shared/styles/main.css">
  <!-- endbuild -->
  <!-- build:css assets/styles/slide.css -->
  <link rel="stylesheet" href="assets/styles/slide.css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="../shared/styles/vendors/owl.carousel.min.css">
  <link rel="stylesheet" href="../shared/styles/vendors/owl.theme.default.min.css">
</head>

<body>
  <main id="access_next_tool_00_00" class="slide">
    <!-- Page Body -->
    {{> side-navigation }}
    {{> top-navigation }}
    <section class="global-content">
      <div class="wrapper homeDisable">
        <!-- Components here -->
        <div class="savedTemp">
          <a href="veeva:gotoSlide(access_next_tool_10_00.zip)">
            <img src="assets/images/savedTemp.png" alt="saved Template">
          </a>
        </div>
        <div class="createNewMessage">
          <a href="veeva:gotoSlide(access_next_tool_20_00.zip)">
            <img src="assets/images/createMessage.png" alt="create Message">
          </a>
        </div>
      </div>
      {{> how-to-guide-content-popup }}
      <div id="update"></div>
      <div id="update1"></div>
      <div id="update2"></div>
      <div id="update3"></div>
    </section>
    <div class="customer-popup" style="display: none;">
      {{> select-customer-popup }}
    </div>
    
  </main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/owl.carousel.min.js"></script>
<script src="../shared/scripts/libs/accountInfo.js"></script>
<script src="../shared/scripts/jquery.touchSwipe.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->

<!-- access_next_tool_00_00 related js -->
<script src="assets/scripts/access_next_tool_00_00.js"></script>
<!-- end -->

</html>
