<!-- Nav Bar -->
<section class="Stiolto-idtl-global-nav">
   <div class="nav-container">
      <div class="main-link copd"><a class="copd-button" href="veeva:gotoSlide(stiolto_value_communication_60_00.zip)"></a></div>
      <div class="main-link respimatInhaler"><a class="respimatInhaler-button" href="veeva:gotoSlide(stiolto_value_communication_140_00.zip)"></a></div>
      <div class="main-link supportForOrganization"><a class="supportForOrganization-button" href="veeva:gotoSlide(stiolto_value_communication_177_00.zip)"></a></div>
   </div>
</section>
