<section class="pop-up hide" id="how_to_guide">
   <div class="container">
      <div class="inner-container">
         <div class="pop-up-header">
            <a class="popup-close how-to-guide-content-popup-close"></a>
         </div>
         <p class="exit_tutorial">EXIT TUTORIAL</p>
         <div class="content-slider">
            <div id="tutorial-carousel" class="owl-carousel owl-theme tutorial-carousel">  
               <div class="item">
                  <div class="lContent">
                     <h3>HOW-TO GUIDE</h3>
                     <h1>Setting up<br>your meeting</h1>
                     <p>To begin, select the brand(s) you<br>want to include in your customer<br>presentation. When you click<br>“CONTINUE”, it will take you to the<br>Control Center.</p> 
                     <p>Please note that you can select a<br>single product or a combination of<br>products; however, you cannot use<br>GAMMAGARD LIQUID in<br>combination with CUVITRU or<br>HYQVIA at this time.</p>
                  </div>
                  <div class="rContent">
                     <img src="../shared/images/guide1.png">
                  </div>
               </div>
               <div class="item">
                  <div class="lContent">
                     <h3>HOW-TO GUIDE</h3>
                     <h1>Editing your<br>presentation</h1>
                     <p>Within the Control Center, you can create<br>your own unique presentation by<br>modifying the following fields: Product,<br>Channel, Benefit Type, and Access.</p> 
                     <p>If you select “Include top plans” under<br>Access, a slide is added to your<br>presentation that you can further modify<br>by selecting “Customize Top Plans”.</p>
                     <p>When you’re done customizing your<br>presentation, click “PRESENT” to launch<br>it or “SAVE AS” to add it to your saved<br>templates for a future use.</p>
                  </div>
                  <div class="rContent">
                     <img src="../shared/images/guide2.png">
                  </div>
               </div>
               <div class="item">
                  <div class="lContent">
                     <h3>HOW-TO GUIDE</h3>
                     <h1>Saved<br>templates</h1>
                     <p>You can prepare for meetings by<br>saving custom presentations to reuse<br>in the future. Saved presentations can<br>be reused, edited, deleted, or renamed<br>at any time.</p> 
                     <p>Click the heart icon to save favorite<br>presentations. Your favorites will<br>appear at the top of your list so they<br>are easier to find.</p>
                  </div>
                  <div class="rContent">
                     <img src="../shared/images/guide3.png">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
