<section class="pop-up" id="selectCustomerPopup">
   <div class="blur-effect"></div>
   <div class="container customerBox">
      <p class="welcome">Welcome.</p>
      <p class="welcomeText">Please select a customer to set up your<br>personalized access and coverage conversation</p>
      <div class="customerLink">
         <a href="">SELECT A CUSTOMER</a>
      </div>
   </div>
</section>
