<!-- Side Nav Bar -->
<section class="global-side-nav">
	<div class="control_center">
		<h6><span>Control</span> Center</h6>
		<p>Select and verify the fields below to customize your presentation.</p>
		<div class="productMenu checkboxes-and-radios">
			<div class="highlightedProduct">
				<p class="">product</p>
			</div>
			<div class="checkboxContainer">
				<div class="custom-select-wrapper">
					<div class="custom-select dropdown1">
						<div class="custom-select__trigger"><span>CUVITRU</span>
							<div class="arrow"></div>
						</div>
						<div class="custom-options productDD" id="productDD">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="channelMenu checkboxes-and-radios">
			<div class="highlightedProduct">
				<p class="">channel</p>
			</div>
			<div class="checkboxContainer">
				<div class="custom-select-wrapper">
					<div class="custom-select dropdown2">
						<div class="custom-select__trigger"><span>Commercial</span>
							<div class="arrow"></div>
						</div>
						<div class="custom-options custom-options1 channelDD" id="channelDD">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="benefitMenu checkboxes-and-radios">
			<div class="highlightedProduct">
				<p class="">benefit type</p>
			</div>
			<div class="checkboxContainer">
				<div class="custom-select-wrapper">
					<div class="custom-select dropdown3">
						<div class="custom-select__trigger"><span>None</span>
							<div class="arrow"></div>
						</div>
						<div class="custom-options custom-options2 benefitDD" id="benefitDD">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accessMenu">
			<div class="highlightedProduct">
				<p class="">Access</p>
			</div>
			<div class="drop_down_container">
				<div class="custom-select-wrapper">
					<div class="custom-select">
						<div class="custom-select__trigger"><span>Covered with restrictions</span>
							<div class="arrow"></div>
						</div>
						<div class="custom-options custom-options3 accessDD" id="accessDD">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="c_checkbox">
			<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
			<label for="styled-checkbox-1">Include top plans</label>
		</div>
		<div class="channel_tt tt-styles"></div>
		<div class="channel-tt-content tt-content-style">
			<div class="closeToolTip"><img src="../shared/images/close_tooltip.png"></div>
			<p>Channel information is based on<br>commercial or Medicare health plans<br>that exist within the customer’s<br>specific region.</p>
			<i class="tooltipArrow"></i>
		</div>
		<div class="top_tt tt-styles"></div>
		<div class="top-tt-content tt-content-style">
			<div class="closeToolTip"><img src="../shared/images/close_tooltip.png" style="top: 10px;"></div>
			<p>Top plans shown are based upon<br>prescription volume in a specified area.</p>
			<i class="tooltipArrow"></i>
		</div>
	</div>
</section>
<section class="notification-nav">
	<div class="notification_center">
		<div class="back_notification">
			BACK <span><img src="../shared/images/backIcon.svg"></span>
		</div>
		<div class="notifi_content_container">
			<h2>\{{accTitle}} \{{accLname}}</h2>
			<h3><span class="adline1">123 Street Name</span>, <span class="city">Princeton</span>, <span class="state-code">08540</span></h3>
			<hr>
			<div class="notification_slider">
				<div id="notification-carousel" class="owl-carousel owl-theme notification-carousel">
					<div class="item">
						<div class="main_Content">
							<h4>Notification Headline</h4>
							<p>This section will notify field team members of any updates related to access/coverage that may have an impact on their discussions with customers.</p>
							<p>Notifications can be tailored to be HCP-, product-, or region-specific and should follow standard approval processes prior to publishing from this platform.</p>
						</div>
					</div>
					<div class="item">
						<div class="main_Content">
							<h4>Notification Headline</h4>
							<p>This section will notify field team members of any updates related to access/coverage that may have an impact on their discussions with customers.</p>
							<p>Notifications can be tailored to be HCP-, product-, or region-specific and should follow standard approval processes prior to publishing from this platform.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
