<section class="Stiolto-idtl-sub-nav">
  <div class="sub-navigation">
    <div class="main-link sub_nav_1"><a class="sub-nav-button-one active" href="{{link1}}"></a></div>
    <div class="main-link sub_nav_2"><a class="sub-nav-button-two active" href="{{link2}}"></a></div>
    <div class="main-link sub_nav_3"><a class="sub-nav-button-three active" href="{{link3}}"></a></div>
    <div class="main-link sub_nav_4"><a class="sub-nav-button-four active" href="{{link4}}"></a></div>
  </div>
</section>
