<section class="pop-up hide" id="{{tabcontentpopup.id}}">
   <div class="container">
      <div class="inner-container">
         <div class="pop-up-header">
            <a class="popup-close tab-content-popup-close"></a>
         </div>
         <div class="content-img">
            <img src="{{tabcontentpopup.src}}">
         </div>
      </div>
   </div>
</section>
