<!-- Side Nav Bar -->
<section class="global-top-nav">
	<div id="homeIcon">
		<a href="veeva:gotoSlide(access_next_tool_00_00.zip)">
			<span></span>
		</a>
	</div>
	<div id="settingsIcon">
		<a class="pop-up-trigger" href="#" data-popup="how_to_guide">
			<img src="../shared/images/settingsIcon.svg" alt="settings Icon">
		</a>
	</div>
	<div id="savedTemplatesIcon">
		<a href="veeva:gotoSlide(access_next_tool_10_00.zip)">
			<img src="../shared/images/savedTemplatesIcon.svg" alt="Saved Templates">
			<span class="badge remaining-swipes"></span>
		</a>
	</div>
	<div id="customerAccountName">\{{userName}}</div>
	<div id="customerAccount" class="customerIcon">
		<a>
			<span class="userIcon"></span>
			<span class="badge remaining-swipes"></span>
		</a>
	</div>
	<div class="sideNavActive"></div>
</section>
