<section class="pop-up hide" id="viewPdfPopup">
   <div id="viewPdfPopupSection">
      <div class="blur-effect"></div>
      <div class="container viewpdfBox">
         <img src="../shared/images/pdfWatermark.svg" width="45" height="auto">
         <p class="pdfReady">It’s ready.</p>
         <p class="pdfReadyText">Your custom-built coverage message<br>is ready to view and share via web browser.</p>
         <div class="pdfReadyLink">
            <a href="https://www.google.com" id="pdfReadyLink" target="_blank" class="popup-close">VIEW PDF</a>
         </div>
      </div>
   </div>
</section>
